:root {
	/* Colors: */
	--folio-color-white: #f9f9f9;
	--folio-color-red: #e95841;
	--folio-color-dark: #333333;
	--folio-color-darker: #181818;

	/* Font/text values */
	--folio-font-family-montserrat: Montserrat;
	--folio-font-family-nunito: Nunito;
	--folio-font-style-normal: normal;
	--folio-font-weight-normal: normal;
	--folio-font-weight-bold: bold;
	--folio-font-size-16: 16px;
	--folio-font-size-18: 18px;
	--folio-font-size-55: 55px;
	--folio-character-spacing-0: 0px;
	--folio-line-spacing-19: 19px;
	--folio-line-spacing-30: 30px;
	--folio-line-spacing-67: 67px;
}

/* Character Styles */
.folio-character-style-1 {
	font-family: var(--folio-font-family-montserrat);
	font-style: var(--folio-font-style-normal);
	font-weight: var(--folio-font-weight-bold);
	font-size: var(--folio-font-size-55);
	line-height: var(--folio-line-spacing-67);
	letter-spacing: var(--folio-character-spacing-0);
	color: var(--folio-color-darker);
}
.folio-character-style-2 {
	font-family: var(--folio-font-family-montserrat);
	font-style: var(--folio-font-style-normal);
	font-weight: var(--folio-font-weight-normal);
	font-size: var(--folio-font-size-55);
	line-height: var(--folio-line-spacing-67);
	letter-spacing: var(--folio-character-spacing-0);
	color: var(--folio-color-darker);
}
.folio-character-style-3 {
	font-family: var(--folio-font-family-nunito);
	font-style: var(--folio-font-style-normal);
	font-weight: var(--folio-font-weight-normal);
	font-size: var(--folio-font-size-18);
	line-height: var(--folio-line-spacing-30);
	letter-spacing: var(--folio-character-spacing-0);
	color: var(--folio-color-dark);
}
.folio-character-style-4 {
	font-family: var(--folio-font-family-montserrat);
	font-style: var(--folio-font-style-normal);
	font-weight: var(--folio-font-weight-bold);
	font-size: var(--folio-font-size-16);
	line-height: var(--folio-line-spacing-19);
	letter-spacing: var(--folio-character-spacing-0);
	color: var(--folio-color-red);
}

.is-red {
	color: var(--folio-color-red);
	font: normal normal bold 16px/19px Montserrat;
	letter-spacing: var(--unnamed-character-spacing-0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Global */
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--folio-color-white);
	transition: background-color 0.3s;
}
[data-theme="dark"] {
	--folio-color-white: #333333;
	--folio-color-dark: #f9f9f9;
	--folio-color-darker: #f9f9f9;
}

/* Buttons */
.hero__buttons {
	margin-top: 1.8em;
	display: flex;
}
.hero__button__left,
.hero__button__right {
	width: 12em;
	height: 3.2142857142857144em;
	font: var(--folio-font-style-normal) normal var(--folio-font-weight-normal)
		14px/26px var(--folio-font-family-montserrat);
	letter-spacing: var(--folio-character-spacing-0);
	border: none;
	margin-right: 2em;
}
.hero__button__left:hover,
.hero__button__right:hover {
	background: transparent;
}
.hero__button__right:hover .circle,
.hero__button__left:hover .circle {
	text-align: center;
	height: 3.15em;
	width: 12em;
	left: 0;
	border-radius: 0;
	border-bottom: 1px solid var(--folio-color-white);
}
.hero__button__left .circle {
	width: 5px;
	height: 5px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	transition: 500ms;
}
.hero__button__left {
	background: var(--folio-color-red);
	border: none;
	color: var(--folio-color-white);
	position: relative;
	transition: 1s;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 27px;
}

.hero__button__right {
	background: var(--folio-color-white);
	border: 1px solid var(--folio-color-red);
	color: var(--folio-color-red);
	position: relative;
	transition: 1s;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 27px;
}
.hero__button__right .circle {
	width: 5px;
	height: 5px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	transition: 500ms;
}
.hero__button__right:hover {
	border: 1px solid var(--folio-color-white);
	color: var(--folio-color-white);
	background-color: var(--folio-color-red);
}
.hero__button__left:hover {
	border: 1px solid var(--folio-color-red);
	color: var(--folio-color-red);
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
img {
	max-width: 100%;
}
