<style>
.footer__center {
	max-width: 73.25%;
	min-height: 203px;
	margin: 0 auto;
	margin-top: 10%;
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* brand */
.footer__left {
	display: flex;
	align-items: center;
}
.footer__left > img {
	width: 96px;
	height: 96px;
}
.footer__left__brand__subtitle {
	font: normal normal normal 38px/47px Montserrat;
	color: #181818;
}
.footer__left__brand__span {
	color: #181818;
	font: normal normal bold 38px/47px Montserrat;
}
.footer__left__brand > p {
	font: normal normal normal 14px/18px Montserrat;
}
.footer__right > .footer__right__social > a > img {
	width: 18px;
	height: 18px;
}
.footer__right__social img:hover {
	transform: rotate(20deg);
}
/* Copyright */
.footer__center > p {
	color: #666666;
	font: normal normal normal 14px/18px Montserrat;
	margin-left: 7%;
	margin-top: 1%;
}
/* back to top */
#scroll-up > .to-top {
	text-align: center;
	position: absolute;
	right: 3%;
}
.to-top {
	color: var(--folio-color-dark);
	padding-top: 1.8em;
	display: inline-block;
	position: relative;
	border-color: var(--folio-color-dark);
	text-decoration: none;
	transition: all 0.3s ease-out;
	font-size: 180%;
	font-family: Calibri, arial, sans-serif;
}
.to-top:before {
	content: "▲";
	font-size: 0.9em;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.7em;
	border: solid 0.13em var(--folio-color-dark);
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform 0.5s ease-in;
}
.to-top:hover {
	color: var(--folio-color-red);
	border-color: var(--folio-color-red);
}
.to-top:hover:before {
	transform: rotate(360deg);
}
/* Medias queries */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.footer__center {
		max-width: 100%;
		min-height: 0;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.footer__center {
		max-width: 100%;
		min-height: 0;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.to-top {
		display: none;
	}
	.footer__center {
		max-width: 100%;
		min-height: 0;
	}
}
@media (max-width: 575.98px) {
	.footer__container {
		display: none;
	}
	.footer__center {
		max-width: 100%;
		min-height: 0;
	}
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
	.footer__container {
		display: none;
	}
	.footer__center {
		max-width: 100%;
		min-height: 0;
	}
}
</style>

<script>
let logo = "/images/logo.svg";
let malt = "/images/social/malt.svg";
let gitlab = "/images/social/gitlab.svg";
let github = "/images/social/github.svg";
let linkedin = "/images/social/linkedin.svg";

let date = new Date().getFullYear();
</script>

<footer class="footer__center folio-character-style-3">
	<div class="footer__container">
		<div class="footer__left">
			<img src="{logo}" alt="logo" />
			<div class="footer__left__brand">
				<h2 class="footer__left__brand__subtitle">
					<span class="footer__left__brand__span">Mathieu</span>Piton
				</h2>
				<p>
					Fullstack Developer JavaScript & PHP
				</p>
			</div>
		</div>
		<div class="footer__right">
			<div class="footer__right__social">
				<a
					href="https://www.malt.fr/profile/mathieupiton"
					target="_blank"
					rel="noopener noreferrer"
					><img src="{malt}" alt="logo malt" /></a>
				<a
					href="https://github.com/mpiton"
					target="_blank"
					rel="noopener noreferrer"
					><img src="{github}" alt="logo github" /></a>
				<a
					href="https://gitlab.com/mpiton"
					target="_blank"
					rel="noopener noreferrer"
					><img src="{gitlab}" alt="logo gitlab" /></a>
				<a
					href="https://www.linkedin.com/in/mathieu-piton/"
					target="_blank"
					rel="noopener noreferrer"
					><img src="{linkedin}" alt="logo linkedin" /></a>
			</div>
		</div>
		<div id="scroll-up">
			<a href="#nav" class="to-top"><!-- to top --></a>
		</div>
	</div>
	<p>© {date} Mathieu Piton. All rights reserved.</p>
</footer>
