<style>
img {
	top: 6px;
	left: 8px;
	width: 27px;
	height: 31px;
	opacity: 1;
}
.brand {
	display: flex;
	align-items: center;
	margin: 0.8em;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95vw;
}
h2 {
	color: var(--folio-color-red);
	font-family: var(--folio-font-family-nunito);
	margin-left: 0.15em;
}

/* The container */
.theme-switch {
	position: relative;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.theme-switch input {
	align-items: center;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
img.checkmark {
	padding: 3px;
}

/* On mouse-over, add a grey background color */
.theme-switch:hover input ~ .checkmark {
	background-color: #626262;
}

/* When the checkbox is checked, add a blue background */
.theme-switch input:checked ~ .checkmark {
	background-color: var(--folio-color-red);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.theme-switch input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.theme-switch .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	visibility: hidden;
}
</style>

<script lang="ts">
let image: string = "/images/logo.svg";
let darkIcon: string = "/images/darkmode/light.svg";
//is Dark ?
let dark = true;
import { onMount } from "svelte";

//onmount
onMount(async () => {
	detectColorScheme();
});

const detectColorScheme = () => {
	let theme: string = "light"; //default to light

	//local storage is used to override OS theme settings
	if (localStorage.getItem("theme")) {
		if (localStorage.getItem("theme") === "dark") {
			theme = "dark";
		}
	} else if (!window.matchMedia) {
		//matchMedia method not supported
		return false;
	} else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
		//OS theme setting detected as dark
		theme = "dark";
	}

	//dark theme preferred, set document with a `data-theme` attribute
	if (theme === "dark") {
		document.documentElement.setAttribute("data-theme", "dark");
	}
};

const changeTheme = () => {
	if (!dark) {
		localStorage.setItem("theme", "dark");
		document.documentElement.setAttribute("data-theme", "dark");
		darkIcon = "/images/darkmode/light.svg";
	} else {
		localStorage.setItem("theme", "light");
		document.documentElement.setAttribute("data-theme", "light");
		darkIcon = "/images/darkmode/moon.svg";
	}
};
</script>

<header>
	<nav id="nav" class="navbar">
		<div class="brand">
			<img src="{image}" alt="logo" />
			<h2>Mathieu Piton</h2>
		</div>
		<label id="theme-switch" class="theme-switch" for="checkbox_theme">
			<input
				on:change="{changeTheme}"
				bind:checked="{dark}"
				type="checkbox"
				id="checkbox_theme" />

			<span
				class="checkmark"
				style="{dark
					? 'background-color: #f9f9f9'
					: 'background-color: #333333'}">
				<img class="checkmark" src="{darkIcon}" alt="logo darkmode" />
			</span>
		</label>
	</nav>
</header>
