<style>
:global(#tsparticles) {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}
.hero__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 9em;
}
.divider {
	background: transparent
		linear-gradient(94deg, var(--folio-color-red) 0%, #e94b63 100%) 0% 0%
		no-repeat padding-box;
	padding-right: 21.12em;
	font-size: 0.2em;
}
/* Left */
.hero__left {
	max-width: 39em;
}
div.hero__left.folio-character-style-3 > h1 {
	margin-bottom: 0;
}
div.hero__left.folio-character-style-3 > p:nth-child(2) {
	margin-top: 0;
}
div.hero__left.folio-character-style-3 > p:nth-child(5) {
	margin-top: 2em;
}
/* Right */
.hero__right {
	position: relative;
	display: inline-block;
}
.hero__right__circle {
	width: 9.285714285714286em;
	height: 9.285714285714286em;
	border-radius: 50%;
	box-shadow: 0px 14px 40px #00000029;
	background: #ffffff 0% 0% no-repeat padding-box;
	position: absolute;
	top: 19em;
	left: 17em;
}
.hero__right__circle > img {
	width: 8em;
	height: 8em;
	margin: 0.6em;
}
.hero__right__social {
	text-align: center;
}
.hero__right__social img {
	width: 25px;
	height: 25px;
}
.hero__right__social img:hover {
	transform: rotate(20deg);
}
/* Scroll down */
.arrow-container {
	display: block;
	width: 100px;
	height: 100px;
	margin: 10% auto;
	transform: translate(-50%, -50%) rotateZ(0deg);
}
.arrow-container:hover {
	cursor: pointer;
}
.arrow-container:hover .arrow {
	top: 50%;
}
.arrow-container:hover .arrow:before {
	transform: translate(-50%, -50%) rotateZ(-30deg);
}
.arrow-container:hover .arrow:after {
	transform: translate(-50%, -50%) rotateZ(30deg);
}
.arrow {
	position: absolute;
	left: 50%;
	transition: all 0.4s ease;
}
.arrow:before,
.arrow:after {
	transition: all 0.4s ease;
	content: "";
	display: block;
	position: absolute;
	transform-origin: bottom right;
	background: var(--folio-color-red);
	width: 4px;
	height: 50px;
	border-radius: 10px;
	transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
	transform-origin: bottom left;
	transform: translate(-50%, -50%) rotateZ(45deg);
}
.arrow:nth-child(1) {
	opacity: 0.3;
	top: 35%;
}
.arrow:nth-child(2) {
	opacity: 0.6;
	top: 55%;
}
.arrow:nth-child(3) {
	opacity: 0.9;
	top: 75%;
}
/* Medias queries */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.hero__right__circle {
		display: none;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	/* Styles */
	div.hero__container {
		flex-direction: column-reverse;
		margin-top: 0 !important;
	}
	.hero__right__circle {
		display: none;
	}
	.hero__left {
		max-width: 100%;
		text-align: center;
	}
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
		justify-content: center;
	}
	#scroll-down {
		display: none;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	/* Styles */
	div.hero__container {
		flex-direction: column-reverse;
		margin-top: 0 !important;
	}
	.hero__right__circle {
		display: none;
	}
	.hero__right__circle > img {
		width: 100%;
		height: 100%;
		margin: -0.15em 0;
	}
	.hero__left {
		max-width: 100%;
		text-align: center;
	}
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
		justify-content: center;
	}
	#scroll-down {
		display: none;
	}
}
@media (max-width: 575.98px) {
	/* Styles */
	div.hero__container {
		flex-direction: column-reverse;
		margin-top: 0 !important;
	}
	.hero__right__circle {
		display: none;
	}
	.hero__right__circle > img {
		width: 100%;
		height: 100%;
		margin: -0.15em 0;
	}
	.hero__left {
		max-width: 100%;
		text-align: center;
	}
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
	}
	#scroll-down {
		display: none;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* Styles */
	/* Styles */
	div.hero__container {
		flex-direction: column-reverse;
		margin-top: 0 !important;
	}
	.hero__right__circle {
		display: none;
	}
	.hero__right__circle > img {
		width: 100%;
		height: 100%;
		margin: -0.15em 0;
	}
	.hero__left {
		max-width: 100%;
		text-align: center;
	}
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
	}
	#scroll-down {
		display: none;
	}
}
</style>

<script lang="ts">
import { onMount } from "svelte";
import Particles from "svelte-particles";
//images
let profile = "/images/profile.png";
let logo = "/images/logo.svg";
let malt = "/images/social/malt.svg";
let gitlab = "/images/social/gitlab.svg";
let github = "/images/social/github.svg";
let linkedin = "/images/social/linkedin.svg";

//links
let workTogether = "#work";
let cv = "./ressources/Mathieu-Piton-CV.pdf";

//onmount
onMount(async () => {
	switchColor(false, false);
});

//functions
const handleClick = (link: string, target: string = "") => {
	if (target) {
		return window.open(link, target);
	} else {
		return (location.href = link);
	}
};
export const switchColor = (rightButton: boolean, leftButton: boolean) => {
	//if hover left mouse
	if (!rightButton && leftButton) {
		let rightButton = document.querySelector("#rightButton") as HTMLElement;

		//change classname
		rightButton.classList.remove("hero__button__right");
		rightButton.classList.add("hero__button__left");
	}
	//if hover right mouse
	if (!leftButton && rightButton) {
		let leftButton = document.querySelector("#leftButton") as HTMLElement;

		//change classname
		leftButton.classList.remove("hero__button__left");
		leftButton.classList.add("hero__button__right");
	}
};
//restore the buttons on mouse out
export const bringBackColor = () => {
	let left = document.querySelector("#leftButton") as HTMLElement;
	let right = document.querySelector("#rightButton") as HTMLElement;

	left.classList.remove("hero__button__right");
	left.classList.add("hero__button__left");

	right.classList.remove("hero__button__left");
	right.classList.add("hero__button__right");
};

let particlesConfig = {
	fpsLimit: 60,
	particles: {
		number: {
			value: 80,
			density: {
				enable: true,
				value_area: 800,
			},
		},
		color: {
			value: "#f00",
			animation: {
				enable: true,
				speed: 20,
				sync: true,
			},
		},
		shape: {
			type: "circle",
		},
		opacity: {
			value: 0.06,
		},
		size: {
			value: 6,
			random: {
				enable: true,
				minimumValue: 3,
			},
			animation: {
				enable: true,
				speed: 5,
				minimumValue: 3,
				sync: false,
			},
		},
		move: {
			enable: true,
			speed: 6,
			direction: "none",
			random: false,
			straight: false,
			out_mode: "out",
			warp: true,
		},
	},
	interactivity: {
		detect_on: "canvas",
		events: {
			resize: true,
		},
	},
	retina_detect: true,
};
</script>

<Particles id="tsparticles" options="{particlesConfig}" />
<div class="hero__container">
	<div class="hero__left folio-character-style-3">
		<h1 class="folio-character-style-2">
			<span class="folio-character-style-1"> Mathieu</span>Piton
		</h1>
		<p>Fullstack Web Developer</p>
		<span class="divider"><!-- divider --></span>
		<p>I'm a fullstack developer based in France</p>
		<p>
			I’m a fullstack developer based in France. I am a calm and curious
			developer who seeks to improve my skills every day. Having a strong
			passion for my job, I am able to be tenacious when it comes to
			solving a problem in the code.
		</p>
		<div class="hero__buttons">
			<button
				id="leftButton"
				on:mouseover="{() => switchColor(false, true)}"
				on:mouseout="{() => bringBackColor()}"
				class="hero__button__left"
				on:click="{() => handleClick(workTogether)}"
				><span class="noselect">Work together</span>
				<div class="circle"></div></button>
			<button
				id="rightButton"
				on:mouseover="{() => switchColor(true, false)}"
				on:mouseout="{() => bringBackColor()}"
				class="hero__button__right"
				on:click="{() => handleClick(cv, '_blank')}"
				><span class="noselect">Resume</span>
				<div class="circle"></div></button>
		</div>
	</div>
	<div class="hero__right">
		<img src="{profile}" alt="my profile" />
		<div class="hero__right__circle">
			<img src="{logo}" alt="logo" />
		</div>
		<div class="hero__right__social">
			<a
				href="https://www.malt.fr/profile/mathieupiton"
				target="_blank"
				rel="noopener noreferrer"
				><img src="{malt}" alt="logo malt" /></a>
			<a
				href="https://github.com/mpiton"
				target="_blank"
				rel="noopener noreferrer"
				><img src="{github}" alt="logo github" /></a>
			<a
				href="https://gitlab.com/mpiton"
				target="_blank"
				rel="noopener noreferrer"
				><img src="{gitlab}" alt="logo gitlab" /></a>
			<a
				href="https://www.linkedin.com/in/mathieu-piton/"
				target="_blank"
				rel="noopener noreferrer"
				><img src="{linkedin}" alt="logo linkedin" /></a>
		</div>
	</div>
</div>
<div id="scroll-down">
	<a href="#main__project" class="arrow-container">
		<div class="arrow"></div>
		<div class="arrow"></div>
		<div class="arrow"></div>
	</a>
</div>
