<style>
.main__project__container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 9em;
}
/* Left */
.main__project__left {
	width: 444px;
	height: 297px;
	margin-right: 5em;
}
.flexstart {
	justify-content: flex-start;
}
.ml-5 {
	margin-left: 5em;
}
.mt-0 {
	margin-top: 0;
}
.main__project__center {
	max-width: 73.25%;
	margin: 0 auto;
	margin-top: 15%;
}
img {
	border-radius: 0.5em;
}

/*Simple Caption*/
.caption {
	position: relative;
}
a.caption .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	opacity: 0;
	transition: all 0.8s ease;
}
a.caption .text h1 {
	margin: 0;
	color: #f9f9f9;
}
a.caption:hover .text {
	opacity: 1;
}
a.caption:hover img {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}

span > h1 {
	font-family: var(--folio-font-family-montserrat);
	text-transform: uppercase;
}
span > p {
	font-family: var(--folio-font-family-montserrat);
	color: #f9f9f9;
	font-size: 0.8em;
}
.column {
	display: inline-block;
	text-align: center;
}
a:hover {
	text-decoration: none;
}
/* Medias queries */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	/* Styles */
	.main__project__container {
		margin-bottom: 2em;
		margin-top: 0;
	}
	.main__project__center {
		max-width: 100%;
		margin-top: 0;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	/* Styles */
	.main__project__container {
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	.main__project__center {
		max-width: 100%;
	}
	.main__project__left {
		width: 100%;
		height: 100%;
		margin-right: 0;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
		justify-content: center;
	}
	.ml-5 {
		margin-left: 0;
	}
	.hero__button__left,
	.hero__button__right {
		width: 12em;
		height: 4.3142857142857144em;
	}
	.folio-character-style-3 {
		font-size: 16px;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	/* Styles */
	.main__project__container {
		flex-direction: column-reverse;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	.main__project__center {
		max-width: 100%;
	}
	.main__project__left {
		width: 100%;
		height: 100%;
		margin-right: 0;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
		justify-content: center;
	}
	.ml-5 {
		margin-left: 0;
	}
	.main__project__right.row {
		order: 1;
	}
	.hero__button__left,
	.hero__button__right {
		width: 12em;
		height: 4.3142857142857144em;
	}
	.folio-character-style-3 {
		font-size: 16px;
	}
}
@media (max-width: 575.98px) {
	/* Styles */
	.main__project__container {
		flex-direction: column-reverse;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	.main__project__center {
		max-width: 100%;
	}
	.main__project__left {
		width: 100%;
		height: 100%;
		margin-right: 0;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
	}
	.ml-5 {
		margin-left: 0;
	}
	.main__project__right.row {
		order: 1;
	}
	.hero__button__left,
	.hero__button__right {
		width: 12em;
		height: 4.3142857142857144em;
	}
	.folio-character-style-3 {
		font-size: 16px;
	}
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
	.main__project__container {
		flex-direction: column-reverse;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2em;
	}
	.main__project__center {
		max-width: 100%;
	}
	.main__project__left {
		width: 100%;
		height: 100%;
		margin-right: 0;
	}
	.hero__buttons {
		margin: 1em 0em 0em 1em;
	}
	.ml-5 {
		margin-left: 0;
	}
	.main__project__right.row {
		order: 1;
	}
	.hero__button__left,
	.hero__button__right {
		width: 12em;
		height: 4.3142857142857144em;
	}
	.folio-character-style-3 {
		font-size: 16px;
	}
}
</style>

<script lang="ts">
//link
let getInTouch = "#work";
let othersCreations = "#othersCreations";

const handleClick = (link: string, target: string = "") => {
	if (target) {
		return window.open(link, target);
	} else {
		return (location.href = link);
	}
};
</script>

<!-- FrontDev -->
<div id="main__project" class="main__project__center">
	<div class="main__project__container">
		<div class="main__project__left folio-character-style-3">
			<p class="is-red">Create. Together.</p>
			<h2 class="folio-character-style-2">
				<span class="folio-character-style-1">Front</span>Dev
			</h2>
			<p>
				I can help you develop your digital product, thanks to the
				experience gained in HTML 5, SASS, React.Js, Gatsby and more. I
				create and turn that idea into reality.
			</p>
			<div class="hero__buttons">
				<button
					class="hero__button__left"
					on:click="{() => handleClick(getInTouch)}"
					><span class="noselect">Get in touch</span>
					<div class="circle"></div></button>
				<button
					class="hero__button__right"
					on:click="{() => handleClick(othersCreations)}"
					><span class="noselect">Others Creations</span>
					<div class="circle"></div></button>
			</div>
		</div>
		<div class="main__project__right row">
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="/images/projects/aspects-maquette.jpg"
				class="column caption col-xs-6">
				<span class="text">
					<h1>Guild of Aspects</h1>
					<p>Integration of this design on Wordpress</p>
				</span>
				<img alt="aspects guild" src="/images/projects/aspects.png" />
			</a>
		</div>
	</div>
	<!-- BackDev -->
	<div class="main__project__container flexstart mt-0">
		<div class="main__project__right row">
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://gitlab.com/mpiton/rezo-mern"
				class="column caption col-xs-6">
				<span class="text">
					<h1>Social Network</h1>
					<p>private social network like Twitter</p>
				</span>
				<img src="/images/projects/rezo.png" alt="project rezo mern" />
			</a>
		</div>
		<div class="main__project__left folio-character-style-3 ml-5">
			<p class="is-red">Understand. Together.</p>
			<h2 class="folio-character-style-2">
				<span class="folio-character-style-1">Back</span>Dev
			</h2>
			<p>
				I am able to create a powerful and secure API using Node.js
				under Express or PHP with Laravel for example.
			</p>
			<div class="hero__buttons">
				<button
					class="hero__button__left"
					on:click="{() => handleClick(getInTouch)}"
					><span class="noselect">Get in touch</span>
					<div class="circle"></div></button>
				<button
					class="hero__button__right"
					on:click="{() => handleClick(othersCreations)}"
					><span class="noselect">Others Creations</span>
					<div class="circle"></div></button>
			</div>
		</div>
	</div>
	<!-- Database -->
	<div class="main__project__container mt-0">
		<div class="main__project__left folio-character-style-3">
			<p class="is-red">Modelize. Together.</p>
			<h2 class="folio-character-style-2">
				<span class="folio-character-style-1">Front</span>Dev
			</h2>
			<p>
				I can build you a SQL (MariaDB), noSQL (MongoDB) or SQLite
				database by respecting the naming conventions.
			</p>
			<div class="hero__buttons">
				<button
					class="hero__button__left"
					on:click="{() => handleClick(getInTouch)}"
					><span class="noselect">Get in touch</span>
					<div class="circle"></div></button>
				<button
					class="hero__button__right"
					on:click="{() => handleClick(othersCreations)}"
					><span class="noselect">Others Creations</span>
					<div class="circle"></div></button>
			</div>
		</div>
		<div class="main__project__right row">
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://gitlab.com/mpiton/projet-ecole"
				class="column caption col-xs-6">
				<span class="text">
					<h1>back office for a school</h1>
					<p>Made with the MERN stack</p>
				</span>
				<img
					alt="back office for a school"
					src="/images/projects/projet-ifpa.png" />
			</a>
		</div>
	</div>
</div>
