<style>
.others__creations__center {
	max-width: 73.25%;
	margin: 0 auto;
	margin-top: 5%;
}
.others__creations__center > h2 {
	text-align: center;
	margin-bottom: 7%;
}
.others__creations__box__container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1%;
}
.box {
	max-width: 25.142857142857142em;
	max-height: 15.642857142857142em;
	box-shadow: 0 0 1px var(--folio-color-dark);
	overflow: hidden;
	border-radius: 0.14em;
}
span > h1 {
	font-family: var(--folio-font-family-montserrat);
	text-transform: uppercase;
	font-size: 1.3em;
}
i {
	color: #f9f9f9;
	font-size: 2em;
}
/*Simple Caption*/
.caption {
	position: relative;
}
a.caption .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	opacity: 0;
	transition: all 0.8s ease;
}
a.caption .text h1 {
	margin: 0;
	color: #f9f9f9;
}
a.caption:hover .text {
	opacity: 1;
}
a.caption:hover > img {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}
a:hover {
	text-decoration: none;
}
.column {
	display: inline-block;
	text-align: center;
}
img.icon {
	max-width: 32px;
	max-height: 32px;
}
/* Medias queries */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.others__creations__center {
		max-width: 100%;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.others__creations__center {
		max-width: 100%;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.others__creations__center {
		max-width: 100%;
	}
	.others__creations__box__container {
		display: block;
	}
	.box {
		box-shadow: none;
		margin: 0 auto;
	}
}
@media (max-width: 575.98px) {
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.others__creations__center {
		max-width: 100%;
	}
	.others__creations__box__container {
		display: block;
	}
	.box {
		box-shadow: none;
		margin: 0 auto;
	}
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.others__creations__center {
		max-width: 100%;
	}
	.others__creations__box__container {
		display: block;
	}
}
</style>

<div id="othersCreations" class="others__creations__center">
	<h2 class="folio-character-style-2">
		<span class="folio-character-style-1">Others</span>Creations
	</h2>
	<div class="others__creations__container">
		<div class="others__creations__box__container">
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://gitlab.com/mpiton/covid-tracker"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Covid Tracker</h1>
						<i class="fab fa-react"></i>
						<img
							class="icon"
							alt="icon firebase"
							src="/images/brands/firebase.svg" />
						<img
							class="icon"
							alt="icon leaflet"
							src="/images/brands/leaflet.svg" />
					</span>
					<img alt="covid tracker" src="/images/projects/covid.png" />
				</a>
			</div>
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/mpiton/theme-eliane"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Landing page for a school</h1>
						<i class="fab fa-wordpress"></i>
						<i class="fab fa-php"></i>
					</span>
					<img
						alt="homepage for a school"
						src="/images/projects/school.png" />
				</a>
			</div>
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://gitlab.com/mpiton/ecommerce-mern"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Ecommerce</h1>
						<img
							class="icon"
							alt="icon mongodb"
							src="/images/brands/mongodb.svg" />
						<i class="fab fa-react"></i>
						<img
							class="icon"
							alt="icon graphql"
							src="/images/brands/graphql.svg" />
						<img
							class="icon"
							alt="icon apollo"
							src="/images/brands/apollographql.svg" />
					</span>
					<img alt="ecommerce" src="/images/projects/ecommerce.png" />
				</a>
			</div>
		</div>
		<div class="others__creations__box__container">
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/mpiton/resto"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Restaurant</h1>
						<i class="fab fa-react"></i>
					</span>
					<img
						alt="restaurant homepage"
						src="/images/projects/resto.png" />
				</a>
			</div>
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/mpiton/chore-door"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Chore Door</h1>
						<i class="fab fa-js-square"></i>
					</span>
					<img
						alt="chore door game"
						src="/images/projects/chore-door.png" />
				</a>
			</div>
			<div class="box">
				<a
					target="_blank"
					rel="noopener noreferrer"
					href="https://gitlab.com/mpiton/symfony-ecommerce"
					class="column caption col-xs-6">
					<span class="text">
						<h1>Ecommerce Symfony</h1>
						<i class="fab fa-symfony"></i>
						<i class="fab fa-stripe"></i>
						<i class="fab fa-bootstrap"></i>
					</span>
					<img
						alt="ecommerce symfony"
						src="/images/projects/ecommerce-symfony.png" />
				</a>
			</div>
		</div>
	</div>
</div>
