<style>
.work__together__center {
	max-width: 73.25%;
	margin: 0 auto;
	margin-top: 10%;
}
.work__together__container {
	display: flex;
	justify-content: space-around;
}
.work__together__email,
.work__together__job,
.work__together__time,
.work__together__message {
	margin-top: 1em;
}
/* left */
.work__together__left {
	max-width: 500px;
}
div.work__together__center > div > div.work__together__left > p:nth-child(3) {
	height: 118px;
}
div.work__together__center > div > div.work__together__left > div > h2,
div.work__together__center > div > div.work__together__left > div > h2 > span {
	font-size: 38px;
}
/* right */
.work__together__right {
	min-width: 536px;
}
.work__together__select__group {
	display: flex;
	justify-content: space-around;
}
label {
	font: normal normal bold 18px/30px Nunito;
	letter-spacing: 0px;
	color: var(--folio-color-dark);
	display: inherit;
}
input {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	border: none;
	width: 536px;
	height: 55px;
	font-size: 18px;
	outline-color: var(--folio-color-red);
}
#name,
#email {
	padding-left: 1em;
}
select {
	width: 260px;
	height: 55px;
	border-radius: 5px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: none;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 15px;
	padding-left: 1em;
	outline-color: var(--folio-color-red);
}
textarea {
	font: normal normal normal 18px/30px Nunito;
	border: none;
	outline-color: var(--folio-color-red);
	padding-left: 1em;
}
textarea::-webkit-input-placeholder {
	color: #333333;
	opacity: 0.5;
}
textarea:-moz-placeholder {
	/* Firefox 18- */
	color: #333333;
	opacity: 0.5;
}
textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #333333;
	opacity: 0.5;
}
textarea:-ms-input-placeholder {
	color: #333333;
	opacity: 0.5;
}
textarea::placeholder {
	color: #333333;
	opacity: 0.5;
}
/* social */
.work__together__social {
	margin-top: 1em;
}
.work__together__left img {
	width: 31px;
	height: 31px;
	color: #626262;
	margin-right: 1em;
}
.work__together__social img:hover {
	transform: rotate(20deg);
}
.work__together__submit {
	margin-top: 1.7em;
}
.submit {
	background: transparent linear-gradient(102deg, #e95841 0%, #e94b63 100%) 0%
		0% no-repeat padding-box;
	box-shadow: 0px 5px 10px #e9584129;
	border-radius: 27px;
	width: 168px;
	height: 45px;
	color: var(--folio-color-white);
	cursor: pointer;
	outline: none;
}
input[disabled] {
	cursor: not-allowed;
}
/* Modal */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Header */
.modal-header {
	background-color: var(--folio-color-red);
	color: white;
	padding: 16px;
	min-height: 67px;
}

/* Modal Body */
.modal-body {
	text-align: center;
	margin: 2em auto;
}
/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes stretch {
	0% {
		transform: scale(0.3);
	}
	100% {
		transform: scale(1);
	}
}
/* Modal Content/Box */
.modal-content {
	background-color: var(--folio-color-white);
	margin: 15% auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 500px; /* Could be more or less, depending on screen size */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
	font-family: var(--folio-font-family-montserrat);
}
.check {
	width: 64px;
	height: 64px;
}
.check {
	animation-name: stretch;
	animation-duration: 1.2s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
}
/* Modal Footer */
.modal-footer {
	background-color: var(--folio-color-red);
	color: var(--folio-color-white);
	text-align: center;
}
/* The Close Button */
.close {
	color: var(--folio-color-white);
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.close__modal {
	color: var(--folio-color-red);
	background-color: var(--folio-color-white);
	border: 1px solid rgba(0, 0, 0, 0.12);
	margin: 0.375rem;
	text-transform: uppercase;
	white-space: normal;
	border-radius: 0.125rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	padding: 0.84rem 2.14rem;
	font-size: 0.81rem;
	font-family: var(--folio-font-family-montserrat);
	font-weight: bold;
}
p.error {
	color: crimson;
}
/* Medias queries */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	/* Styles */
	.work__together__center {
		max-width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	.work__together__right {
		max-width: 100%;
		margin-left: 2em;
	}
	.work__together__job,
	.work__together__time {
		width: 100%;
	}
	select {
		width: 100%;
	}
	.modal-content {
		width: 100%;
		margin: 0;
	}
	#modal {
		position: inherit;
	}
	input,
	textarea {
		max-width: 100%;
	}
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	/* Styles */
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.work__together__center {
		max-width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	.work__together__container {
		display: block;
	}
	.work__together__right {
		min-width: 100%;
	}
	.work__together__job,
	.work__together__time {
		width: 100%;
	}
	.work__together__job {
		margin-right: 1em;
	}
	select {
		width: 100%;
	}
	.modal-content {
		width: 100%;
		margin: 0;
	}
	#modal {
		position: inherit;
	}
	input,
	textarea {
		width: 100%;
		max-width: 100%;
	}
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	/* Styles */
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.work__together__center {
		max-width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	.work__together__container {
		display: block;
	}
	.work__together__right {
		min-width: 100%;
	}
	.work__together__select__group {
		display: block;
	}
	select {
		width: 100%;
	}
	.modal-content {
		width: 100%;
		margin: 0;
	}
	#modal {
		position: inherit;
	}
	input,
	textarea {
		width: 100%;
		max-width: 100%;
	}
}
@media (max-width: 575.98px) {
	/* Styles */
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.work__together__center {
		max-width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	.work__together__container {
		display: block;
	}
	.work__together__right {
		min-width: 100%;
	}
	.work__together__select__group {
		display: block;
	}
	select {
		width: 100%;
	}
	.modal-content {
		width: 100%;
		margin: 0;
	}
	#modal {
		position: inherit;
	}
	input,
	textarea {
		max-width: 100%;
	}
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	/* Styles */
	.folio-character-style-1 {
		font-size: 40px;
	}
	.folio-character-style-2 {
		font-size: 40px;
	}
	.folio-character-style-3 {
		font-size: 16px;
	}
	.work__together__center {
		max-width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	.work__together__container {
		display: block;
	}
	.work__together__right {
		min-width: 100%;
	}
	.work__together__select__group {
		display: block;
	}
	select {
		width: 100%;
	}
	.modal-content {
		width: 100%;
		margin: 0;
	}
	#modal {
		position: inherit;
	}
}
</style>

<script>
import { regSchema } from "../schema/schema";
import { onMount } from "svelte";
import { WidgetInstance } from "friendly-challenge";

//social images
let malt = "/images/social/malt.svg";
let gitlab = "/images/social/gitlab.svg";
let github = "/images/social/github.svg";
let linkedin = "/images/social/linkedin.svg";

let values = {};
let errors = {};
let result = false;

//if captcha sucess
const doneCaptcha = (solution) => {
	console.log("CAPTCHA completed succesfully, solution:", solution);
	result = true;
	return result;
};
//if captcha fail
const errorCaptcha = (err) => {
	console.log("There was an error when trying to solve the Captcha.");
	console.log(err);
};

//create the captcha widget
onMount(async () => {
	const element = document.querySelector(".frc-captcha");
	const options = {
		doneCallback: doneCaptcha,
		errorCallback: errorCaptcha,
		startMode: "none",
		language: "en",
	};
	await new WidgetInstance(element, options);
});

const submitHandler = () => {
	errors = {};
	//reset border
	document.querySelector(`#message`).style.border = "none";
	document.querySelector(`#name`).style.border = "none";
	document.querySelector(`#email`).style.border = "none";
	regSchema
		.validate(values, { abortEarly: false })
		.then(async () => {
			const formElement = document.querySelector("#contact-form");
			const data = new URLSearchParams(new FormData(formElement));
			// Get the modal
			const modal = document.getElementById("modal");
			// Get the <span> element that closes the modal
			const span = document.getElementsByClassName("close")[0];
			// When the user clicks on <span> (x), close the modal
			span.onclick = () => {
				modal.style.display = "none";
				document.location.reload();
			};
			// When the user clicks anywhere outside of the modal, close it
			const button = document.querySelector(".close__modal");
			button.onclick = () => {
				modal.style.display = "none";
				document.location.reload();
			};
			try {
				fetch(
					"https://getform.io/f/4ba8a4d2-d9e0-46ef-99a9-32856d110485",
					{
						method: "POST",
						body: data,
					}
				);
				modal.style.display = "block";
			} catch (error) {
				throw error;
			}
			// clear the errors
			errors = {};
		})
		.catch((err) => (errors = extractErrors(err)));
};

//retrieve errors messages
const extractErrors = ({ inner }) => {
	inner.forEach((error) => {
		console.log(error.params.path);
		const errors = document.querySelector(`#${error.params.path}`);
		console.log(errors);
		errors.style.border = "2px solid crimson";
	});
	return inner.reduce((acc, err) => {
		return { ...acc, [err.path]: err.message };
	}, {});
};
</script>

<div id="work" class="work__together__center">
	<div class="work__together__container folio-character-style-3">
		<div class="work__together__left">
			<p class="is-red">Let's</p>
			<h2 class="folio-character-style-2">
				<span class="folio-character-style-1">Work</span>Together
			</h2>
			<p>
				Tell me about your needs and let’s start working together on the
				best solution for users and business.
			</p>
			<div class="work__together__connect">
				<p class="is-red">My digital print</p>
				<h2 class="folio-character-style-2">
					<span class="folio-character-style-1">Let's</span>Connect
				</h2>
				<div class="work__together__social">
					<a
						href="https://www.malt.fr/profile/mathieupiton"
						target="_blank"
						rel="noopener noreferrer"
						><img src="{malt}" alt="logo malt" /></a>
					<a
						href="https://github.com/mpiton"
						target="_blank"
						rel="noopener noreferrer"
						><img src="{github}" alt="logo github" /></a>
					<a
						href="https://gitlab.com/mpiton"
						target="_blank"
						rel="noopener noreferrer"
						><img src="{gitlab}" alt="logo gitlab" /></a>
					<a
						href="https://www.linkedin.com/in/mathieu-piton/"
						target="_blank"
						rel="noopener noreferrer"
						><img src="{linkedin}" alt="logo linkedin" /></a>
				</div>
			</div>
		</div>
		<div class="work__together__right">
			<form
				id="contact-form"
				action="https://getform.io/f/4ba8a4d2-d9e0-46ef-99a9-32856d110485"
				on:submit|preventDefault="{submitHandler}"
				method="POST"
				class="form-example">
				<div class="work__together__name">
					<label for="name">Let’s meet. What’s your name?</label>
					<input
						bind:value="{values.name}"
						type="text"
						name="name"
						id="name"
						required />
					{#if errors.name}<p class="error">{errors.name}</p>{/if}
				</div>
				<div class="work__together__email">
					<label for="email">And your email…</label>
					<input
						bind:value="{values.email}"
						type="email"
						name="email"
						id="email"
						required />
					{#if errors.email}<p class="error">{errors.email}</p>{/if}
				</div>
				<div class="work__together__select__group">
					<div class="work__together__job">
						<label for="job-select">How can I help you?</label>
						<select
							bind:value="{values.job}"
							name="job"
							id="job-select">
							<option value="api">API Development</option>
							<option value="social-n">Social Network</option>
							<option value="ecommerce">Ecommerce</option>
							<option value="bug">Bug fix</option>
							<option value="other">Other</option>
						</select>
						{#if errors.job}<p class="error">{errors.job}</p>{/if}
					</div>
					<div class="work__together__time">
						<label for="time-select">What’s the priority?</label>
						<select
							bind:value="{values.time}"
							name="time"
							id="time-select">
							<option value="we-have-time">We have time</option>
							<option value="limited">Limited time</option>
							<option value="urgent">Urgent</option>
						</select>
						{#if errors.time}<p class="error">{errors.time}</p>{/if}
					</div>
				</div>
				<div class="work__together__message">
					<label for="message">Tell me more about your project</label>
					<textarea
						bind:value="{values.message}"
						id="message"
						name="message"
						rows="4"
						cols="55"
						placeholder="Budget, extra details, deadlines, special requirements…"
					></textarea>
					{#if errors.message}<p class="error">
							{errors.message}
						</p>{/if}
				</div>
				<div
					id="captcha"
					class="frc-captcha"
					data-sitekey="FCMK3SHRO6AB0SCQ">
				</div>
				<div class="work__together__submit">
					{#if !result}
						<input
							disabled
							class="submit"
							type="submit"
							value="Let’s work!" />
					{:else}
						<input
							class="submit"
							type="submit"
							value="Let’s work!" />
					{/if}
				</div>
			</form>
		</div>
	</div>
	<!-- Modal -->
	<div id="modal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
			</div>
			<div class="modal-body">
				<img class="check" alt="icon check" src="/images/check.svg" />
				<p>Thank you for contacting me,</p>
				<p>I will get back to you within 48 hours.</p>
			</div>
			<div class="modal-footer">
				<button class="close__modal"
					><span class="noselect">Close</span></button>
			</div>
		</div>
	</div>
</div>
