<script lang="ts">
import Footer from "./components/Footer.svelte";
import Header from "./components/Header.svelte";
import Hero from "./components/Hero.svelte";
import MainProject from "./components/MainProject.svelte";
import OthersCreations from "./components/OthersCreations.svelte";
import WorkTogether from "./components/WorkTogether.svelte";
</script>

<Header />
<Hero />
<MainProject />
<OthersCreations />
<WorkTogether />
<Footer />
